@using Library.Models
@model List<Author>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @Html.Partial("~/Views/Author/Partials/Edit.cshtml",(Author)ViewBag.Author ?? new Author())

    <div class="panel">
        <div class="panel-heading">

        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Author/Partials/AuthorList.cshtml", Model)        
        </div>
    </div>
</div>
@section scripts{
<script>
 
</script>    
}